<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login Page</title>
</head>
<body>
<h1>Login</h1>
<form method="post" action="/UI-login/login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <p th:if="${param.error}" style="color: red;">Invalid username or password.</p>
    <input type="submit" value="Log in">
</form>
</body>
</html>