<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>Landing Page</title>
</head>
<body>
<h1>Welcome to the Landing Page</h1>
<div class="d-flex flex-row-reverse">
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/UI-login/content}" method="get"><button type="submit" class="btn btn-primary">Get JWT</button></form>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/UI-login/logout}" method="post"><button type="submit" class="btn btn-primary">Logout</button></form>
    </div>
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/UI-login/login}" method="get"><button type="submit" class="btn btn-primary">Login</button></form>
    </div>
</div>

</body>
</html>